{% extends 'layout.html' %}

{% block content %}
<div class="container py-5">
    <main class="form-signin">
        <form action="/login" method="post">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
    
        <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingInput">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
        {% if error %}
        <h5 class="text-danger">{{error}}</h5>
        {% endif %}
        <p class="mt-5 mb-3 text-muted">JPL 2024 © ARY Digital</p>
        </form>
    </main>
</div>
{% endblock %}